@use "./variables.scss" as *;
@use "./reset.scss" as *;

html {
  font-size: 16px; /* Base font size */
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  font-size: 1rem;
  font-family: var(--font-family-Outfit);
  font-weight: var(--regular);
  background-color: var(--stone150);
  color: var(--stone600);
}
main {
  display: grid;
  justify-items: center;
  width: 100%; /* Use 100% instead of 100vw */
}
.recipe {
  background-color: var(--white);
  border-radius: 1rem;
  padding: 2.5rem;
  width: 100%;
  max-width: 735px;
  margin-top: 7.5rem;
  box-sizing: border-box;
  &__image {
    width: 100%;
    max-width: 100%;
  }
  &__title {
    // font-size: calc(1.3rem + 1.5vw);
    font-size: clamp(1rem, 1.3rem + 2vw, 2rem);
    padding: 2rem 0 1rem;
    font-family: var(--font-family-Young);
    font-weight: var(--bold);
    color: var(--stone900);
  }
  &__description {
    margin-bottom: 2rem;
  }
  &__time {
    border-radius: 0.7rem;
    background-color: var(--rose50);
    padding: 1.56rem;
    h3 {
      color: var(--rose800);
      padding-bottom: 0.5rem;
    }
    ul {
      padding-left: 1.5rem;
      list-style-type: disc;

      li {
        padding: 0.6rem 0 0.6rem 1.2rem;
        &::marker {
          color: var(--rose800);
        }
        span {
          font-weight: var(--bold);
        }
      }
    }
  }
  &__ingredients {
    ul {
      padding-left: 1.5rem;

      li {
        padding: 0.6rem 0 0.6rem 1.2rem;
        &::marker {
          color: var(--brown800);
        }
      }
    }
  }
  &__instructions {
    ol {
      padding-left: 1.5rem;
      li {
        padding: 0.6rem 0 0.6rem 1.2rem;
        span {
          font-weight: var(--bold);
        }
        &::marker {
          color: var(--brown800);
          font-weight: var(--bold);
        }
      }
    }
  }
  &__nutrition {
    p {
      padding-bottom: 1rem;
    }
    table {
      width: 100%;
      th {
        text-indent: 1rem;
        text-align: left;
        font-weight: var(--regular);
      }
      tr td,
      th {
        border-bottom: 1px solid var(--border-color);
        padding: 0.6rem 0;
      }
      td {
        color: var(--brown800);
        font-weight: var(--bold);
      }
    }
  }
  h2 {
    color: var(--brown800);
    font-size: calc(1rem + 1vw);
    font-family: var(--font-family-Young);
    padding: 1.25rem 0;
  }
}
hr {
  border: 0.2px var(--border-color) solid;
  margin-top: 1.25rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1rem 0;
  a {
    color: hsl(228, 45%, 44%);
  }
}

@media screen and (max-width: 575px) {
  .recipe {
    padding: 0;
    margin-top: 0;
    border-radius: 0;
    article {
      padding: 0 1.8rem 1.8rem;
    }
  }
}
